* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.main-header {
    background-color: #533E3E;  
}



.nav ul {
    margin:0; 
    max-width: 600px;
}

.nav li {
    display: inline-block;
}

.nav a {
    display: inline-block; 
    padding: .8em;
    color: white;
    text-decoration: none;
}
.nav a:hover {
    background-color: saddlebrown;
}

.main-header img {
    width: 30px;
    height: 30px;
    float: right;
    margin-top: 5px;
}

.acc-name {
    float: right;
    margin-right: 50px; 
    color: white;
    padding: .8em;
    font-style: italic;
}

.container {
    margin: 0 auto;  
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 30%);  
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
}

.grid-item {
    height: 320px; 
    min-width: 200px;
    background-color: rgb(102, 6, 6);
    opacity: 0.8;

}

.grid-item:hover {
    opacity: 1;
}

.grid-item-1 {
    background-color: #533E3E;
}



.grid-item-6{
    background-color: #533E3E;
}

